<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <!-- bootstrap needs to be first stylesheet -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">

    <!-- nothing here right now, but this is how you link static js files; if they are dynamically created, they go in templates folder, not static-->
    <script type="javascript" href="{{ url_for('static', filename= 'js/script.js') }}"></script>
    <title>ye</title>
  </head>

  <body>

    <p>hello there</p>


    
         <form action = "https://steelhacks21.herokuapp.com/post" method = "post">
            <p>Enter Name:</p>
            <p><input type = "text" name = "nm" /></p>
            <p><input type = "submit" value = "submit" /></p>
         </form>   
     


    <!-- needs to be at bottom of file -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
  </body>
</html>