<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>ye</title>
    <link rel="stylesheet" href="../static/css/styles.css">
    <script src="../static/js/scripts.js" charset="utf-8"></script>
{#    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>#}
  </head>

  <body>
    <p>hello there</p>

    <button id="addNewWord">
      <a href="#">Add New</a>
    </button>
    <button id="knownWords">
      <a href="#">View Known Words</a>
    </button>
    <button id="freqList">
      <a href="#">View Frequency List</a>
    </button>
  </body>
</html>
